.titlecontainer {
  display: flex;
  justify-content: space-between;
}
.pageHeading {
  display: flex;
  background-color: #f3c222;
  width: 200px;
  color: white;
  font-size: 23px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.donationContainer {
  height: 85vh;
  width: 90%;
  box-shadow: 0em 0em 1em 0em hsl(0, 0%, 71%);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  overflow-y: scroll;
  border-radius: 10px;
}
.donationContainerTitle {
  display: flex;
  justify-content: space-between;
  padding: 19px;
  font-size: 28px;
  margin-bottom: 50px;
}
.createButton{
  background-color: #f3c222;
  border: transparent;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}
.pagengo{
  display: grid;
  background-color: #f3c222;
  width: 300px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}