.AdminBoxesContainer {
  display: flex;
}
.pageHeading1{
  width: 250px;
  height: 50px;
  border-radius: 0px 0px 20px;
  padding-top: 10px;
  text-align: center;
  background-color: #f3c222;
  font-size: 23px;
}
.recentContainer {
  height: 60vh;
  width: 70%;
  box-shadow: 0em 0em 0.5em 0.1em hsl(0deg 0% 40%);
  transform: translateY(-0.25em);
  margin-left: 5%;
  margin-right: auto;
  margin-top: 30px;
  font-size: 23px;
  padding: 10px;
}
.recentContainerTitle {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 23px;
}
.AdminBoxes {
  display: grid;
  height: 20vh;
  font-size: 23px;
  width: 23%;
  box-shadow: 0em 0em 0.5em 0.1em hsl(0deg 0% 40%);
  transform: translateY(-0.25em);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
.recentMainContainer {
  display: flex;
}
.optionsContainer {
  width: 10%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-size: 23px;
}
.Verify{
margin-left: 600px;
/* border-bottom-style: hidden; */
background: #f3c222;
border-radius: 10px;
color: #ffffff;
line-height: 33px;
width: 100px;
height: 50px;
margin-top: 15px;
}
.Veriftbtn{
  border: none;
  /* color: #f3c222; */
  background-color: #f3c222;
  font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 23px;
padding-top: 10px;
padding-left: 15px;
/* text-align: center; */

}
.logoutbtn{
  border: none;
  /* color: #f3c222; */
  background-color: #f3c222;
  font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 23px;
padding-top: 5px;
padding-left: 15px;
height: 50px;
width: 100px;
border-radius: 10px;
margin-top: 150px;

}

.intro1{
  display: flex;
}
.intro{
  margin: 15px;
}
.NgoData{
  margin-top: 10px;
  font-size: large;
  margin-right: 5px;
}
.ngoemail{
  margin-top: 5px;
}
