.AdminBoxesContainer {
  display: flex;
}
.pageHeading1{
  display: flex;
  background-color: #f3c222;
  width: 200px;
  color: white;
  font-size: 23px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.recentContainer {
  height: 60vh;
  width: 70%;
  box-shadow: 0em 0em 0.5em 0.1em hsl(0deg 0% 40%);
  transform: translateY(-0.25em);
  margin-left: 5%;
  margin-right: auto;
  margin-top: 30px;
  font-size: 23px;
  padding: 10px;
  overflow-y: scroll;
}
.recentContainerTitle {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 23px;
}
.AdminBoxes {
  display: grid;
  height: 20vh;
  font-size: 23px;
  width: 23%;
  box-shadow: 0em 0em 0.5em 0.1em hsl(0deg 0% 40%);
  transform: translateY(-0.25em);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
.recentMainContainer {
  display: flex;
  
}
.optionsContainer {
  width: 10%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-size: 23px;
}
.Verify{
margin-left: 600px;
/* border-bottom-style: hidden; */
background: #f3c222;
border-radius: 10px;
color: #ffffff;
line-height: 33px;
width: 100px;
height: 50px;
margin-top: 15px;
}
.Veriftbtn{
  background-color: #f3c222;
  border: transparent;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;

}
.logoutbtn{
  background-color: #f3c222;
  border: transparent;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.userTemplateContainer{
  margin: 10px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 800px;
}
.userTemplate{
  width: 70%;
}
.NgoData{
  margin-top: 10px;
  font-size: large;
  margin-right: 5px;
}
.ngoemail{
  margin-top: 5px;
}
.pagengo{
  display: grid;
  background-color: #f3c222;
  width: 300px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
