.DocSideBar {
  position: fixed;
  top: 60px;
  height: calc(100vh - 60px);
  width: 200px;
  font-size: 20px;
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.614);
  background-color: rgba(0, 0, 0, 0.886);
  color: white;
}
.DocSideBar > div {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.DocSideBar > div:hover {
  cursor: pointer;
}
.version {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.Docscontent{
  position: absolute;
  top: 80px;
  left: 200px;
}