.oddContainer {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  width: 88vw;
  margin: auto;
  padding-top: 50px;
}
.evenContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 88vw;
  margin: auto;
  padding-top: 50px;
}
.imageParent {
  display: flex;
  position: relative;
  height: 260px;
}
.imageBase {
  width: 400px;
  height: auto;
  position: absolute;
  display: block;
}
.content {
  text-align: center;
}
.content:hover {
  cursor: pointer;
}
.imageOut {
  --mask-grad: 0%;
  animation: fadeout 500ms linear;
}

@property --mask-grad {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}
@property --mask-out {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

@keyframes fadeit {
  0% {
    --mask-grad: 0%;
  }
  100% {
    --mask-grad: 100%;
  }
}
@keyframes fadeout {
  0% {
    --mask-grad: 100%;
  }
  100% {
    --mask-grad: 0%;
  }
}

:has(.contentEdu:hover) .imageBaseEdu,
:has(.contentFood:hover) .imageBaseFood,
:has(.contentDis:hover) .imageBaseDis,
:has(.contentHealth:hover) .imageBaseHealth {
  --mask-grad: 100%;
  animation: fadeit 500ms linear;
}

.imageBaseEdu:nth-child(2),
.imageBaseFood:nth-child(2),
.imageBaseHealth:nth-child(2),
.imageBaseDis:nth-child(2) {
  /* --mask-size: 103%; */
  -webkit-mask-image: linear-gradient(
    270deg,
    black 0 var(--mask-grad),
    transparent calc(var(--mask-grad) + var(--mask-out)) 100%
  );
  -moz-mask-image: linear-gradient(
    270deg,
    black 0 var(--mask-grad),
    transparent calc(var(--mask-grad) + var(--mask-out)) 100%
  );
  mask-image: linear-gradient(
    270deg,
    black 0 var(--mask-grad),
    transparent calc(var(--mask-grad) + var(--mask-out)) 100%
  );
}
h1 {
  padding-top: 80px;
  text-align: center;
  margin: 0;
}
