.oddContainer {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  width: 88vw;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.evenContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 88vw;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.imageParent {
  display: flex;
  position: relative;
  height: 260px;
}
.imageBase {
  width: 400px;
  height: 250px;
  position: absolute;
  display: block;
  filter: grayscale(1);
  transition: all 1s ease-in-out;
}
.imageBaseHover {
  width: 400px;
  height: 250px;
  position: absolute;
  display: block;
  filter: grayscale(0);
  transition: all 1s ease-in-out;
}
.content {
  text-align: center;
}
.content:hover {
  cursor: pointer;
}
h1 {
  padding-top: 80px;
  text-align: center;
  margin: 0;
}
