.volHolder{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 10px;
}

.volHolder>button{
  margin-top: 15px;
  margin-bottom: 10px;
}
.CampaignDetailtitlecontainer{
  display: flex;
  justify-content: space-between;
}
.CampaignDetailpageHeading{
  display: flex;
  background-color: #f3c222;
  width: 200px;
  color: white;
  font-size: 23px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.campaignDetailContainer{
  padding:20px;
  height: 80vh;
  width: 70%;
  box-shadow: 0em 0em 1em 0em hsl(0deg 0% 78%);
  border-radius: 10px;
  transform: translateY(-0.25em);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  overflow-y: scroll;
  border-radius: 10px;
}
.CampaignDetailContainerTitle{
  padding: 19px;
  font-size: 21px;
  padding: 10px;
}
.CampaignDetailverifyButton{
  background-color: #f3c222;
  border: transparent;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
}