body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
@font-face {
  font-family: ProductSansRegular;
  src: url("./utils/Product-Sans-Regular.ttf");
}

body{
  margin: auto;
  font-family:sans-serif;
  scroll-behavior: smooth;
  font-family: ProductSansRegular,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}